.btn {
  @include pxRem(padding, 8 16);
  @include pxRem(border-radius, 8);
  @include pxRem(font-size, 18);
  @include pxRem(height, 40);
  background: map-get($colors, primary);
  color: map-get($colors, white);
  line-height: 1;
  cursor: pointer;
  transition: background 400ms ease;
  border: 1px solid map-get($colors, primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: map-get($colors, primary-dark);
  }
  &:focus {
    outline: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
    color: map-get($colors, txt-disabled);
    border-color: map-get($colors, txt-disabled);
    background: map-get($colors, bg-gray-light);
  }
}

// custom button antd
.ant-btn:hover, .ant-btn:active, .ant-btn:hover:focus  {
  border: 1px solid;
}


// button primary
.btn.btn-primary {
  background-color: map-get($colors, secondary);
  border: 1px solid map-get($colors, secondary);
  color: map-get($colors, white);

  &:hover, &:focus, &:active {
    background-color: map-get($colors, white);
    color: map-get($colors, secondary);
    transition: all .5s ease-in-out;
  }
}

// button table
.btn-viewcv {
  background-color: map-get($colors,  bg-gray );
  color: map-get($colors, txt-black);
  border: 1px solid map-get($colors, border-gray);

  &:hover {
    background-color: map-get($colors,  white);
    color: map-get($colors,  secondary );
    border: 1px solid map-get($colors, secondary);
  }
}

.btn-viewcv, .btn-delete, .btn-edit {
  @include pxRem(width, 70px);
  transition: all .5s ease-in-out;

  svg {
    @include pxRem(font-size, 20px);
  }
}

.btn-viewcv .btn-delete, .btn-edit {
  color: map-get($colors, white);
}

.btn-delete {
  background-color: map-get($colors,  brand-html);
  border: 1px solid map-get($colors,  brand-html);

  &:hover, &:focus, &:active {
    color: map-get($colors, brand-html);
    background-color: map-get($colors,  white);
  }
}

.btn-edit {
  @include pxRem(margin-right, 10px);
  background-color: map-get($colors,  brand-css );
  border: 1px solid map-get($colors,  brand-css);

  &:hover {
    color: map-get($colors, brand-css);
    background-color: map-get($colors,  white);
  }
}

// btn create
.btn-create {
  @include pxRem(margin-bottom, 24px);
  @include pxRem(padding, 10px 15px);
  @include pxRem(border-radius, 4px);
  @include pxRem(font-size, 14px);

  float: right;
  width: auto;
  border: 1px solid map-get($colors, primary);
  background-color: map-get($colors, primary);

  &:hover, &:focus, &:active {
    background-color: map-get($colors, white);
    transition: all .5s ease;

    span {
      color: map-get($colors, primary);
    }
  }

  a {
    span {
      color: map-get($colors, white);
    }

    .text {
      @include pxRem(margin-right, 10px);
    }
  }

  @include respond-above(x-small) {
    a {
      @include pxRem(font-size, 16px);
    }
  }
}

// group-btn
.group-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .ant-btn:first-child {
    @include pxRem(margin-right, 10px);
  }
}
