.btn {
  @include pxRem(padding, 8 16);
  // @include pxRem(border-radius, 8);
  @include pxRem(font-size, 18);
  @include pxRem(height, 40);
  background: map-get($colors, primary);
  color: map-get($colors, white);
  line-height: 1;
  cursor: pointer;
  transition: background 400ms ease;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: map-get($colors, primary-dark);
  }
  &:focus {
    outline: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
    color: map-get($colors, txt-disabled);
    border-color: map-get($colors, txt-disabled);
    background: map-get($colors, bg-gray-light);
  }
}

.btn-primary {
  &:hover, &:focus, &:active {
    border: 1px solid map-get($colors, primary-dark);
  }
}

.btn-secondary {
  @include pxRem(margin-right, 10px);
  background-color: map-get($colors,  bg-gray );
  color: map-get($colors, txt-black);
  border: 1px solid map-get($colors, border-gray);

  &:hover {
    background-color: map-get($colors,  white);
    color: map-get($colors,  secondary );
    border: 1px solid map-get($colors, secondary);
  }
}

.btn-secondary, .btn-delete, .btn-edit {
  @include pxRem(width, 70px);
}

.btn-delete, .btn-edit {
  color: map-get($colors, white);
}

.btn-delete {
  background-color: map-get($colors,  brand-html);

  &:hover, &:focus, &:active {
    color: map-get($colors, brand-html);
    background-color: map-get($colors,  white);
    border: 1px solid map-get($colors,  brand-html);
  }
}

.btn-edit {
  @include pxRem(margin-right, 10px);
  background-color: map-get($colors,  brand-css );

  &:hover {
    color: map-get($colors, brand-css);
    background-color: map-get($colors,  white);
    border: 1px solid map-get($colors,  brand-css);
  }
}

.group-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
