input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea {
  @include pxRem("padding", 8);
  @include pxRem("height", 40);
  @include pxRem(border-radius, 8);
  width: 100%;
  border: 1px solid map-get($colors, border-gray);
  color: map-get($colors, txt-primary);
  background: map-get($colors, white);
  outline: none;
  transition: border-color 0.4s;
  display: block;
  -webkit-appearance: none;
  transition: border-color 0.4s, box-shadow 0.4s;
  &:focus {
    border-color: map-get($colors, action-blue);
    box-shadow: 0 0 0 1px map-get($colors, action-blue);
  }
  &:disabled,
  &.disabled {
    background: map-get($colors, bg-gray-light);
    border-color: map-get($colors, bg-gray-light);
    color: map-get($colors, txt-disabled);
  }
  &::placeholder {
    color: map-get($colors, txt-disabled);
  }
  &[readonly] {
    border-color: map-get($colors, border-gray);
    box-shadow: none;
  }
}

// Remove icon eye in Edge
input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

// custom input antd 
.ant-input-affix-wrapper {
  @include pxRem(border-radius, 8);
}

// Custom input number antd
.ant-input-number-affix-wrapper {
  @include pxRem(height, 50px);
  @include pxRem(border-radius, 8px);
  width: 100%;

  input {
    @include pxRem(height, 50px);
  }
}

// custom select antd
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  @include pxRem(border-radius, 8px);
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector, .ant-select-selector {
  @include pxRem(height, 50px);

  span {
    display: flex;
    align-items: center;
  }
}

// custom form.item antd
.ant-form-item {
  label, input, select {
    font-size: $font-size-lg;
  }
}

// Prevent resize horizontal
textarea {
  resize: vertical;
}

// Label
label {
  @include pxRem(margin-bottom, 5);
  display: block;
}

// Group form control
.form-group {
  @include pxRem(margin-bottom, 20);
}

// wrapper form 
.wrapper-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-form {
    @include pxRem(margin-bottom, 30px);
    font-size: map-get($h-font-size, h5);
    text-align: center;
    color: map-get($colors, bg-blue);
  }

  .btn-upload {
    @include pxRem(border-radius, 4px);
    width: 100%;
  }

  @include respond-above(x-small) {
    .title-form {
      font-size: map-get($h-font-size, h4);
    }

    button {
      @include pxRem(width, 120px);
    }
  }

  @include respond-above(small) {
    .title-form {
      font-size: map-get($h-font-size, h3);
    }
  }

  @include respond-above(medium) {
    .title-form {
      font-size: map-get($h-font-size, h2);
    }

    form {
      width: 80%;


      button {
        @include pxRem(width, 170px);
      }
    }
  }

  @include respond-above(wide) {
    form {
      width: 60%;

      .ant-upload.ant-upload-select-picture-card {
        @include pxRem(width, 150px);
        @include pxRem(height, 150px);
      }
    }
  }
}


.search-wrapper {
  @include pxRem(margin-bottom, 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  .ant-col {
    width: 100%;
    &:last-child {
      text-align: end;
    }

    .search-form {
      .search-basic, .search-advanced {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
      }
  
      .ant-row.ant-form-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
  
      label {
        @include pxRem(font-size, 14px);
        font-weight: map-get($font-weight, medium);
      }
    }
  }

  .btn {
    @include pxRem(width, 160px);
    @include pxRem(font-size, 14px);
    @include pxRem(padding, 5px 12px);
    @include pxRem(border-radius, 4px);
  }

  .ant-input {
    @include pxRem(font-size, 16px);
  }

  @include respond-above(medium){
    .ant-col {
      .search-form {
        .search-basic, .search-advanced {
          flex-direction: row;
        }
        .ant-row.ant-form-item {
          width: 50%;
        }
      }
    }
  }

  @include respond-above(wide){
    flex-direction: row;
    align-items: flex-start;

    .btn {
      @include pxRem(height, 50px);
    }
  }
}

