table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    @include pxRem(padding, 10);
  }

  td {
    border: 1px solid map-get($colors, border-gray);

    .btn {
      @include pxRem(font-size, 14px);
      @include pxRem(border-radius, 6px);
    }
  }

  td:first-child {
    text-align: center;
  }

  .ant-table-thead th.ant-table-column-has-sorters,
  .ant-table-thead>tr> th {
    background-color: map-get($colors, bg-blue);
    color: map-get($colors, white);
  }

  .ant-table-thead th.ant-table-column-has-sorters:hover {
    background-color: map-get($colors, bg-blue-light);
  }

  .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
    background-color: map-get($colors, white);
  }

  .ant-table-tbody>tr>td:not(.ant-table-tbody>tr>td:nth-child(8)) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

